@font-face {
  font-family: 'Poppins'; /*a name to be used later*/
  src: url('assets/Poppins-Regular.ttf'); /*URL to font*/
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
